@model List<TaskListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (Model.Count != 0)
{
    <a asp-action="AddTask" class="btn btn-outline-info my-3 float-right">Gorev Olustur</a>
    <table class="table table-hover table-sm">
        <tr>
            <th>Gorev</th>
            <th>Aciklama</th>
            <th>Olusturulma Tarihi</th>
            <th>Aciliyet Durumu</th>
            <th>Islemler</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Created_Date</td>
                <td>@item.Urgency.UrgencyLevel</td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="UpdateTask" asp-route-id="@item.Id">Duzenle</a>
                    <a class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-someting="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="p-3 text-center mt-3">
        <p class="lead">
            Herhangi bir gorev bulunamadi
        </p>
        <a asp-action="AddTask" class="btn btn-outline-info btn-sm">Gorev Olustur</a>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kritik Uyari</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediginize emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayir</button>
                <button type="button" class="btn btn-primary" id="btnDelete">Evet, Sil!</button>
            </div>
        </div>
    </div>
</div>

@section JS{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#deleteModal").on("show.bs.modal", function (event) {
                let triggedElement = $(event.relatedTarget);
                let id = triggedElement.data("someting");

                $("#btnDelete").click(function () {
                    $.ajax({
                        type: "Get",
                        url: "./Task/RemoveTask",
                        data: { id: id },
                        dataType: "json",
                        contentType: "application/json; charset=utf-8;",
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }
                    });
                });
            })
        });
    </script>

}