@model AppUserSignInViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<form class="mt-5 mx-auto p-3 shadow w-50" asp-action="Login" method="post">
    <h4>Giris Yap</h4>
    <div class="form-group">
        <label asp-for="@Model.Username"></label>
        <span asp-validation-for="@Model.Username" class="text-danger"></span>
        <input asp-for="@Model.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password"></label>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
        <input asp-for="@Model.Password" class="form-control" />
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="@Model.RememberMe" class="form-check-input" />
        <label asp-for="@Model.RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success">Giris Yap</button>
    <a asp-action="register" class="btn btn-warning btn-sm float-right">Kayit Ol</a>
</form>